body {
    background-color: #edf0f3;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.container {
    margin: 0 25%;
}
h1 {
    text-align: center;
    padding: 20px 0;
}
.team-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #cc527a;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
}
.navbar {
    background-color: #333;
    padding: 0 25%;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 70px;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ca5379;
}
.logo {
    display: block;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
}

.image {
    margin: 0 auto;
    max-width: 100%;
}
.center-text {
    text-align: center;
}
.highlight {
    color: #ca5379;
}

td, th, tr, table {
    border: 0 !important;
    border-spacing:0 !important;
}
.founder {
    margin-bottom: 100px;
}
.founder img{
    float: left;
    margin-right: 40px;
}